.search-bar {
  height: auto;
  width: 100%;
  margin-top: 10rem;
}
.search-wrapper {
  position: relative;
}
.search-text {
  height: 3rem;
  width: 70%;
  padding-left: 1.5rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  font-size: medium;
}
@media screen and (max-width: 850px) {
  .search-bar {
    margin-top: 5rem;
  }
  .search-text {
    width: 80%;
  }
}
